/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {
  margin-top: 0;
}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
  padding-top: 20px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .section {
    margin-bottom: 30px;
    padding-top: 30px;
  }
}

@media (min-width: 1024px) {
  #site-main {
    overflow:hidden
  }

  .section {
    width: 50%;
    float: left;
  }
}

/* ---- components ---- */


.expandable .handler {
  cursor: pointer;
}

.expandable .expand {
  display: inline;
}

.expandable .collapse {
  display: none;
}

.expandable .handler:hover {
  background-color: #ccc;
}

.expandable .content {
  display: none;
}

.expandable.expanded .content {
  display: block;
}


.expandable.expanded .expand {
  display: none;
}

.expandable.expanded .collapse {
  display: inline;
}

/* ---- sections ---- */

section.links {
  background-color: lightgray;
  padding: 20px;
  border-radius: 5px;
}