
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

h4{
  margin: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Concert One';
}

h1 {
  margin: auto 0;
  font-size: 25px;
  color: #3f51b5;
}

h2 {
  color: #f0eceb;
  font-size: 30px; 
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: #3f51b5;
  text-transform: uppercase;
}


p {
  margin: 0;
}

.site-nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.experiments a {
  text-decoration: none;
  color: white;
}



/* ---- layout ---- */

#site-header {
  padding: 15px 0;
  color: white;
}

#site-footer {
  color: white;
  padding: 10px;
  background:  black;
  text-align: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}

#site-main {
}

.container {
  margin: 0 20px;
}

.section {
  padding-top: 20px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 984px;
     margin: auto;
  }
}



/* ---- components ---- */

.button {
  padding: 10px;
  background-color:white;
  color:  #3f51b5;
  border: 2px solid white;
  border-radius: 5px;
}

.button-inverted {
  padding: 5px;
  background-color: #3f51b5;
  color: #729f98;
  border: 1px #3f51b5;
  border-radius: 5px;
}



/* Sections */

header .site-nav {
  display: flex;
  justify-content: space-between;
}

main .general-information {
  background-color: #f0eceb;
  position: relative;
  padding: 0;
  border-radius: 10px;
}

.general-information h2{
  margin: 0;
  position: absolute;
  z-index: 50;
  top: 10%;
  right: 30%;
  left: 30%;
  font-size: 30px;
}

.general-information img {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  margin-top: 20px;
}

h3.container{
  padding-bottom: 10px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.interests li {
  max-width: 75px;
  flex: 1;
  text-align: center;
  margin: 0 5px;
  padding-bottom: 10px;
}

section.experiments {
  background-color:;
}

section.experiments .container {
  padding-bottom: 10px;
}

section .list-articles{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.experiments article{
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .experiments article {
    width: 47%;
    margin: 10px;
  }
}

section.experiments p {
  padding-bottom: 10px;
}

.experiments p, h4{
  padding: 15px;
}

#site-footer img {
  padding: 0 5px;
  width: 40px;
}
