/* reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

h2 {
    margin: 0;
}

/* typography*/

body {
    background: white;
    color: dark-brown; /* inheritance */
    font-family: 'Nanum Gothic', sans-serif;
}

h2, h3 {
    font-size: 18px;
    text-align: left;
}

h3 {
    text-transform: uppercase;
}

/* layout */
.heart {
    color: grey;
    text-decoration: none;
}

.container {
    padding: 0 20px;
}

.img p {
    position: absolute;
    top: 400px;
    left: 200px;
    z-index: 5;
}

.image img {
    position: relative;
    z-index: 1;
}

/* components */

ul.top-links {
    display: flex;
    justify-content: space-between;
}

.top-links li {
    list-style-type: none;
}

.block-color {
    background-color: #AC3B61;
}

.btn-navigation {
    width: 100%;
    color: grey;
    text-decoration: none;
    border-width: 6px;
    border-radius: 4px;
    display: block;
    padding: 20px;
}

 .github-link.btn-navigation {
    width: 100%;
    color: #FF851B;
    display: inline-block;
}

section.experiments {
    color: #FF851B;
    background-color: #222f3e;
    padding-bottom: 10px;
}

footer p {
    font-size: 12px;
    text-align: right;
}

section p {
    font-size: 17px;
}

.experiments .card {
    display: none;
}

.experiments.expanded .card {
    display: block;
}

.quick-nav .search {
    position: relative;
    display: inline-block;
}

/* 50px from where the first parent was anchored, once an element has been anchored  */
/* The left and right 0 is so that the pull down has the same size as the input field above */
.quick-nav .search-results {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #AC3B61;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
}

.quick-nav .search-results ul {
    margin: 0px;
    padding: 0px;
}

.quick-nav .search-results li {
    margin-bottom: 2px;
}

.quick-nav .search-results a {
    display: block;
    color:black;
    padding: 5px;
    text-decoration: none;
}

.quick-nav .search-results a:hover {
    background-color: beige;
}

#clockdiv {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: right;
	font-size: 30px;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: black;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: black;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}
 /* .search-bar { 
    transform: rotate
 } */

